body {


    @media (max-width: 767px) {
      position: relative;
      background-image: url("./images/synth_waifu2x.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  

    @media (min-width: 768px) {
      position: relative;
      background-image: url("./images/synth_waifu2x.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
.navbar.navbar-expand-lg.navbar-light.bg-light.bg-transparent {
  color: white;
}

}

input[type="checkbox"]{
  margin-top: 0.5rem;
  line-height: normal;
  vertical-align: baseline;
}